{{define "title"}}
Children Page Tool[<a href="/manage/page/{{ .Parent }}">Parent</a>]
        <button type="button" id="generateBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
        Update sequence
        </button>
{{end}}
{{define "page_template"}}

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Enabled</th>
      <th>Create</th>
      <th>Update</th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody id="seqBody">
{{ range $i, $v := .Pages}}
    <tr class="seqRow" data-index="{{$i}}" data-id="{{.Key.Name}}" data-version="{{.Version}}">

      <td class="mdl-data-table__cell--non-numeric"><a href="/manage/page/{{ .Key.Name}}" target="_page_editor" {{if .Deleted}}style="color:red;"{{end}}>{{ .Name }}</a></td>

      <td class="mdl-data-table__cell--non-numeric">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
          <input type="checkbox" id="{{.Key.Name}}" class="mdl-switch__input" {{if not .Deleted}}checked{{end}}>
        </label>
      </td>

      <td>{{convertDate .CreatedAt}}</td>
      <td>{{convertDate .UpdatedAt}}</td>

      <td>
        <button class="mdl-button mdl-js-button mdl-button--icon upBtn">
            <i class="material-icons">arrow_upward</i>
        </button>
      </td>
      <td>
        <button class="mdl-button mdl-js-button mdl-button--icon downBtn">
            <i class="material-icons">arrow_downward</i>
        </button>
      </td>

      <td>
        <!-- Left aligned menu below button -->
        <button id="MostButton_{{.Key.Name}}"
                class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="MostButton_{{.Key.Name}}">
          <li class="mdl-menu__item">
            <button class="mdl-button mdl-js-button mdl-button--icon mostUpBtn">
              <i class="material-icons">vertical_align_top</i>
            </button>
          </li>
          <li class="mdl-menu__item">
            <button class="mdl-button mdl-js-button mdl-button--icon mostDownBtn">
              <i class="material-icons">vertical_align_bottom</i>
            </button>
          </li>
        </ul>
      </td>
    </tr>
{{ end }}
  </tbody>
  <form id="sequenceForm" name="sequenceForm" method="post" action="/manage/page/tool/sequence">
    <input type="hidden" name="id" value="{{.Parent}}" />
    <input type="hidden" name="ids" id="ids" value="" />
    <input type="hidden" name="versions" id="versions" value="" />
    <input type="hidden" name="enables" id="enables" value="" />
  </form>
</table>

<!-- view template -->
<button type="button" id="add-content" class="mdl-button mdl-js-button mdl-button--fab mdl-button--primary">
  <i class="material-icons">add</i>
</button>

<script>

    var addBtn = document.querySelector('#add-content');
    addBtn.addEventListener('click', function() {
      var url = "/manage/page/add/{{.Parent}}";
      var name = "_page_editor";
      window.open(url,name);
      return false;
    });

    var upList = document.querySelectorAll('button.upBtn');
    for (var i=0; i< upList.length; i++) {
        upList[i].addEventListener('click', function(e) {
          var tr = e.target;
          while ( tr.getAttribute("data-index") == null ) {
             tr = tr.parentNode;
          }
          var index = tr.getAttribute("data-index");
          moveRow(index,parseInt(index)-1);
        });
    }

    var downList = document.querySelectorAll('button.downBtn');
    for (var i=0; i< downList.length; i++) {
        downList[i].addEventListener('click', function(e) {
          var tr = e.target;
          while ( tr.getAttribute("data-index") == null ) {
             tr = tr.parentNode;
          }
          var index = tr.getAttribute("data-index");
          moveRow(index,parseInt(index)+1);
        });
    }

    var upList = document.querySelectorAll('button.mostUpBtn');
    for (var i=0; i< upList.length; i++) {
        upList[i].addEventListener('click', function(e) {
          var tr = e.target;
          while ( tr.getAttribute("data-index") == null ) {
             tr = tr.parentNode;
          }
          mostMoveRow(tr,true);
        });
    }

    var downList = document.querySelectorAll('button.mostDownBtn');
    for (var i=0; i< downList.length; i++) {
        downList[i].addEventListener('click', function(e) {
          var tr = e.target;
          while ( tr.getAttribute("data-index") == null ) {
             tr = tr.parentNode;
          }
          mostMoveRow(tr,false);
        });
    }

    function mostMoveRow(target,flag) {

        var seqRows = document.querySelectorAll('tr.seqRow');
        var elm = document.querySelector('#seqBody');
        //空にする
        while (elm.firstChild) elm.removeChild(elm.firstChild);

        var newIdx = 0;
        var index = target.getAttribute("data-index");

        if ( flag )  {
          target.setAttribute("data-index",0);
          elm.appendChild(target);
          ++newIdx;
        }

        for (var i=0; i< seqRows.length; i++) {
          var addElm = seqRows[i];
          if ( addElm == target ) {
              continue;
          }
          addElm.setAttribute("data-index",newIdx);
          elm.appendChild(addElm);
          newIdx++;
        }

        if ( !flag )  {
          target.setAttribute("data-index",newIdx);
          elm.appendChild(target);
        }
    }

    function moveRow(src,target) {
        var seqRows = document.querySelectorAll('tr.seqRow');
        var srcElm;
        var targetElm;
        if ( target < 0 || target >= (seqRows.length) ) {
          return;
        }

        for (var i=0; i< seqRows.length; i++) {
          var addElm = seqRows[i];
          if ( i == src )  {
             addElm.setAttribute("data-index",target);
             srcElm = addElm;
          } else if ( i == target )  {
             addElm.setAttribute("data-index",src);
             targetElm = addElm;
          }
        }

        var elm = document.querySelector('#seqBody');
        //空にする
        while (elm.firstChild) elm.removeChild(elm.firstChild);

        for (var i=0; i< seqRows.length; i++) {
          var addElm = seqRows[i];
          if ( i == src )  {
            addElm = targetElm;
          } else if ( i == target )  {
            addElm = srcElm;
          }
          elm.appendChild(addElm);
        }
    }

    var generateBtn = document.querySelector('#generateBtn');
    generateBtn.addEventListener('click', function() {
      confirmFes(function() {
        var seqRows = document.querySelectorAll('tr.seqRow');
        var ids = "";
        var enables = "";
        var versions = "";

        for (var i=0; i< seqRows.length; i++) {

          var seqElm = seqRows[i];
          var id = seqElm.getAttribute("data-id");
          var version = seqElm.getAttribute("data-version");
          var enableForm = document.querySelector('#' + CSS.escape(id));

          if ( ids != "" ) {
            ids += ",";
            enables += ",";
            versions += ",";
          }

          var flag = enableForm.checked;

          ids += id;
          enables += flag;
          versions += version;
        }

        var idsForm = document.querySelector('#ids');
        var enablesForm = document.querySelector('#enables');
        var versionsForm = document.querySelector('#versions');
        idsForm.value = ids;
        enablesForm.value = enables;
        versionsForm.value = versions;

        var seqForm = document.querySelector('#sequenceForm');
        seqForm.submit();
      });
    });

</script>

{{ end }}
