{{define "title"}}
Setting
{{end}}

{{define "page_template"}}
<input type="hidden" id="version" value="{{ .Site.Version }}">

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" width="100%">
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="siteName" value="{{ .Site.Name }}">
          <label class="mdl-textfield__label" for="siteName">Name...</label>
        </div>
      </td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="siteDescription" value="{{ .Site.Description }}">
          <label class="mdl-textfield__label" for="siteDescription">Description...</label>
        </div>
        <input type="hidden" id="siteRoot" value="{{ .Site.Root }}">
      </td>
    </tr>

  </tbody>

</table>


<div class="space"></div>
<div class="mdl-list">
  <div class="mdl-list__item mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect accordion">
    	Advanced<i class="material-icons">settings_applications</i>
  </div>
  <div class="panel">
    <ul class="demo-list-item mdl-list">
      <li class="mdl-list__item">
           HTML Cache
           <label class = "mdl-switch mdl-js-switch mdl-js-ripple-effect" for = "htmlCache">
              <input type="checkbox" id="htmlCache" name="htmlCache" class="mdl-switch__input" {{if .Site.HTMLCache }} checked {{end}}>
           </label>
      </li>
      <li class="mdl-list__item">
           Template Cache
           <label class = "mdl-switch mdl-js-switch mdl-js-ripple-effect" for = "templateCache">
              <input type = "checkbox" id = "templateCache" name="templateCache" class = "mdl-switch__input" {{if .Site.TemplateCache }} checked {{end}}>
           </label>
      </li>
      <li class="mdl-list__item">
           Page Cache
           <label class = "mdl-switch mdl-js-switch mdl-js-ripple-effect" for = "pageCache">
              <input type = "checkbox" id = "pageCache" name="pageCache" class = "mdl-switch__input" {{if .Site.PageCache }} checked {{end}}>
           </label>
      </li>
      <li class="mdl-list__item">
          File Cache
          <label class = "mdl-switch mdl-js-switch mdl-js-ripple-effect" for = "fileCache">
             <input type = "checkbox" id = "fileCache" name="fileCache" class = "mdl-switch__input" {{if .Site.FileCache }} checked {{end}}>
          </label>
      </li>

      <li class="mdl-list__item">
         <form method="post" action="/manage/datastore/backup">
           <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
            Backup
           </button>
         </form>
      </li>
      <li class="mdl-list__item">
        <form method="post" action="/manage/datastore/restore" enctype="multipart/form-data">
          <input type="file" name="restoreFile" value=""/>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
            Restore
          </button>
        </form>
      </li>
    </ul>
  </div>
</div>

<!-- Controler -->
<button id="updateBtn" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
  Update
</button>


<script>

    var showDialogButton = document.querySelector('#updateBtn');
    showDialogButton.addEventListener('click', function() {

      var nameTag = document.querySelector('#siteName');
      if ( nameTag.value == "" ) {
        alertFes("Edit Name!");
        return;
      }

      confirmFes(function() {

        xmlhttp.open("POST", "/manage/site/edit", true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.setRequestHeader("Cache-Control", "no-cache");

        var descTag = document.querySelector('#siteDescription');
        var rootTag = document.querySelector('#siteRoot');
        var versionTag = document.querySelector('#version');

        //cache
        var htmlTag = document.querySelector('#htmlCache');
        var templateTag = document.querySelector('#templateCache');
        var pageTag = document.querySelector('#pageCache');
        var fileTag = document.querySelector('#fileCache');

        var data = {
            name : nameTag.value,
            description : descTag.value,
            version : versionTag.value,
            rootPage : rootTag.value,
            htmlCache : htmlTag.checked,
            templateCache : templateTag.checked,
            pageCache : pageTag.checked,
            fileCache : fileTag.checked
        };

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 ) {
                if ( xmlhttp.status != 200) {
                  //error
                } else {
                  //success
                }
            }
        }
        xmlhttp.send(EncodeHTMLForm(data));
      });
    });


</script>
{{ end }}