{{define "title"}}Edit Page{{end}}

{{define "header"}}
Edit Page[
{{ range .Breadcrumbs}}
&gt; <a href="/manage/page/{{ .Key.Name }}">{{ .Name }}</a>
{{ end }}
]
{{ if .Publish }}
<button type="button" id="generateBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
  <span class="material-icons">publish</span>
</button>
{{ end }}
{{end}}

{{define "page_template"}}


<form id="editForm" method="post" action="/manage/page/{{ .Page.Key.Name }}" enctype="multipart/form-data">
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" width="100%">
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="pageName" name="pageName" value="{{ .Page.Name }}">
          <label class="mdl-textfield__label" for="pageName">Name...</label>

          <span style="font-size:10px;color:#999999;">{{.Page.Key.Name}}</span>

        </div>
        <a href="/manage/page/view/{{ .Page.Key.Name }}" target="private"><button type="button" class="mdl-button"><span class="material-icons">preview</span></button></a>
        <a href="/page/{{ .Page.Key.Name }}" target="public"><button type="button" class="mdl-button"><span class="material-icons">public</span></button></a>
        <br>
        <!-- Image upload-->
        <button type="button" id="uploadBtn" class="mdl-button mdl-js-button mdl-button--raised">
          <span class="material-icons">image</span>
        </button>

        <span id="attache" class="material-icons" style="color:red;display:none;vertical-align:middle;">attachment</span>

        {{ if .ExistFile }}
        <a href="/file/{{ .Page.Key.Name }}" target="_blank">Page Image</a>
        {{ end }}

        <input type="file" name="file" id="file" value="" style="display:none;"/>

        <input type="hidden" name="parentID" id="parentID" value="{{ .Page.Parent }}" />
        <input type="hidden" name="siteTemplateID" id="siteTemplateID" value="{{ .Page.SiteTemplate }}" />
        <input type="hidden" name="pageTemplateID" id="pageTemplateID" value="{{ .Page.PageTemplate }}" />
        <input type="hidden" name="version" id="version" value="{{ .Page.Version }}" />
        <input type="hidden" name="seq" id="seq" value="{{ .Page.Seq }}" />
      </td>
    </tr>

{{ if ne .Page.Key.Name "ErrorPage" }}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">

        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="publish">
          <span class="mdl-switch__label">Enabled</span>
          <input type="checkbox" name="publish" id="publish" class="mdl-switch__input" {{if not .Page.Deleted}}checked{{end}}>
        </label>

      </td>
    </tr>
{{ end }}

    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div id="siteTemplate" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-select">
          <input class="mdl-textfield__input" type="text" id="site" value="{{.SiteTemplateName}}" readonly/>
          <label class="mdl-textfield__label" for="site">Site Template</label>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="site">
{{ range .Templates}}
  {{ if eq .Type 1}}
              <li class="mdl-menu__item" data-id="{{ .Key.Name }}">{{ .Name }}</li>
  {{ end }}
{{ end }}
          </ul>
        </div>
        <button type="button" class="mdl-button" id="siteTemplateBtn">
          <span class="material-icons">open_in_new<span>
        </button>
      </td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div id="pageTemplate" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-select">
          <input class="mdl-textfield__input" type="text" id="page" value="{{.PageTemplateName}}" readonly/>
          <label class="mdl-textfield__label" for="page">Page Template</label>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="page">
{{ range .Templates}}
  {{ if eq .Type 2}}
              <li class="mdl-menu__item" data-id="{{ .Key.Name }}">{{ .Name }}</li>
  {{ end }}
{{ end }}
          </ul>
        </div>
        <button type="button" class="mdl-button" id="pageTemplateBtn">
          <span class="material-icons">open_in_new<span>
        </button>
      </td>
    </tr>


{{ if ne .Page.Key.Name "ErrorPage" }}
  {{ if ne .Page.Name "" }}

    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div id="children" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-select">
        <input class="mdl-textfield__input" type="text" id="childrenPage" value="Edit..." readonly/>
        <label class="mdl-textfield__label" for="childrenPage">Children Page</label>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="childrenPage">
          <li class="mdl-menu__item" data-id=""><i class="material-icons">add</i>Add...</li>
{{range .Children}}
          <li class="mdl-menu__item" data-id="{{ .Key.Name }}" {{if .Deleted}}style="color:red;"{{end}}>{{ .Name }}</li>
{{end}}
        </ul>
        </div>

        <a href="/manage/page/children/{{ .Page.Key.Name }}">
        <button type="button" id="toolBtn" class="mdl-button mdl-js-button mdl-button--raised">
          <span class="material-icons">list</span>
        </button>
        </a>

      </td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div id="pagingNum" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-select">
        <input class="mdl-textfield__input" type="text" id="paging" name="paging" value="{{.Page.Paging}}" readonly/>
        <label class="mdl-textfield__label" for="paging">Paging</label>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="paging">
          <li class="mdl-menu__item">0</li>
          <li class="mdl-menu__item">1</li>
          <li class="mdl-menu__item">2</li>
          <li class="mdl-menu__item">3</li>
          <li class="mdl-menu__item">4</li>
          <li class="mdl-menu__item">5</li>
          <li class="mdl-menu__item">6</li>
          <li class="mdl-menu__item">7</li>
          <li class="mdl-menu__item">8</li>
          <li class="mdl-menu__item">9</li>
          <li class="mdl-menu__item">10</li>
          <li class="mdl-menu__item">11</li>
          <li class="mdl-menu__item">12</li>
        </ul>
        </div>
      </td>
    </tr>

  {{ end }}
{{ end }}

    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="pageDescription" name="pageDescription" value="{{ .Page.Description }}">
          <label class="mdl-textfield__label" for="pageDescription">Description...</label>
        </div>
      </td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <button type="button" id="contentBtn" class="mdl-button mdl-js-button mdl-button--raised">
          <span class="material-icons">mode_edit</span>
        </button>
        <br>
        <div class="mdl-textfield mdl-js-textfield" style="width:100%;">
          <textarea class="mdl-textfield__input" type="text" id="pageContent" name="pageContent" rows="10" style="width:100%;">{{ plane .PageData.Content }}</textarea>
          <label class="mdl-textfield__label" for="pageContent">Page Content...</label>
        </div>
      </td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <button type="button" id="privateBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          <span class="material-icons">public_off</span>
        </button>

        <button type="button" id="removeBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          <span class="material-icons">delete_forever</span>
        </button>

        <button type="button" id="updateBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
          <span class="material-icons">save</span>
        </button>
      </td>
    </tr>
  </tbody>

</table>
</form>

<script>

    var list = document.querySelectorAll('#siteTemplate.mdl-select > ul > li');
    var siteName = document.querySelector('#site');
    var siteId = document.querySelector('#siteTemplateID');
    for (var i=0; i< list.length; i++) {
        list[i].addEventListener('click', function(e) {
          var id = e.target.getAttribute("data-id");
          var name = e.target.textContent;
          siteName.setAttribute('value', name);
          siteId.setAttribute('value', id);
        });
    }

    var list = document.querySelectorAll('#pageTemplate.mdl-select > ul > li');
    var pageName = document.querySelector('#page');
    var pageId = document.querySelector('#pageTemplateID');
    for (var i=0; i< list.length; i++) {
        list[i].addEventListener('click', function(e) {
          var id = e.target.getAttribute("data-id");
          var name = e.target.textContent;
          pageName.setAttribute('value', name);
          pageId.setAttribute('value', id);
        });
    }


    var list = document.querySelectorAll('#children.mdl-select > ul > li');
    for (var i=0; i< list.length; i++) {
        list[i].addEventListener('click', function(e) {
          var id = e.target.getAttribute("data-id");
          if ( id == "" ) {
            window.location.href = "/manage/page/add/{{ .Page.Key.Name }}";
          } else {
            window.location.href = "/manage/page/" + id;
          }
        });
    }

    var list = document.querySelectorAll('#pagingNum.mdl-select > ul > li');
    var paging = document.querySelector('#paging');
    for (var i=0; i< list.length; i++) {
        list[i].addEventListener('click', function(e) {
          var name = e.target.textContent;
          paging.setAttribute('value', name);
        });
    }

    var txtDialogBtn = document.querySelector('#contentBtn');
    txtDialogBtn.addEventListener('click', function() {
      editTextArea(document.querySelector('#pageContent'));
    });

    var uploadBtn = document.querySelector('#uploadBtn');
    uploadBtn.addEventListener('click', function() {
      var fileBtn = document.querySelector('#file');
      fileBtn.click();
      return false;
    });

{{ if .Publish }}
    var generateBtn = document.querySelector('#generateBtn');
    generateBtn.addEventListener('click', function() {
      confirmFes(function() {
        window.location.href = "/manage/page/publish/{{ .Page.Key.Name }}";
      });
    });
{{ end }}

    var privateBtn = document.querySelector('#privateBtn');
    privateBtn.addEventListener('click', function() {
      confirmFes(function() {
        window.location.href = "/manage/html/private/{{ .Page.Key.Name }}";
      });
    });

    var removeBtn = document.querySelector('#removeBtn');
    removeBtn.addEventListener('click', function() {
      confirmFes(function() {
        window.location.href = "/manage/page/delete/{{ .Page.Key.Name }}";
      });
    });

    var updateBtn = document.querySelector('#updateBtn');
    updateBtn.addEventListener('click', function() {
      var siteId = document.querySelector('#siteTemplateID');
      var pageId = document.querySelector('#pageTemplateID');
      if ( siteId.value == "" || pageId.value == "" ) {
        alertFes("select template");
        return;
      }
      confirmFes(function() {
        var updateForm = document.querySelector('#editForm');
        updateForm.submit();
      });
    });

    var file = document.querySelector('#file');
    file.addEventListener('change', function() {
      var attache = document.querySelector('#attache');
      attache.style.display = "inline";
    });

    var siteTemplateBtn = document.querySelector('#siteTemplateBtn');
    siteTemplateBtn.addEventListener('click', function() {
        var siteID = document.querySelector('#siteTemplateID');
        window.location.href = "/manage/template/edit/" + siteID.getAttribute("value");
    });

    var pageTemplateBtn = document.querySelector('#pageTemplateBtn');
    pageTemplateBtn.addEventListener('click', function() {
        var pageID = document.querySelector('#pageTemplateID');
        window.location.href = "/manage/template/edit/" + pageID.getAttribute("value");
    });

</script>
{{ end }}
