{{define "title"}}Update HTMLs{{end}}

{{define "header"}}
<!-- history.back()-->
<a href="javascript:history.back();">Back</a>
        <button type="button" id="generateBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
        Update 
        </button>
{{end}}

{{define "page_template"}}

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th style="width:80px;" class="mdl-data-table__cell--non-numeric">Publish</th>
      <th style="width:160px;">Create / Update</th>
    </tr>
  </thead>
  <tbody id="seqBody">
{{ range $i, $v := .Pages}}
    <tr class="seqRow" data-id="{{.Key.Name}}">

      <td class="mdl-data-table__cell--non-numeric">
        <a href="/manage/page/{{ .Key.Name}}" target="_page_editor" {{if .Deleted}}style="color:red;"{{end}}>{{ .Name }}</a>
        <br>
        <span style="font-size:10px;color:#999999;">{{ .Key.Name }}</span>
      </td>

      <td class="mdl-data-table__cell--non-numeric">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
          <input type="checkbox" id="{{.Key.Name}}" class="mdl-switch__input" checked>
        </label>
      </td>

      <td>{{convertDate .CreatedAt}} <br> {{convertDate .UpdatedAt}}</td>

    </tr>
{{ end }}
  </tbody>

  <form id="publishForm" name="publishForm" method="post" action="/manage/html/update">
    <input type="hidden" name="ids" id="ids" value="" />
    <input type="hidden" name="redirect" id="redirect" value="{{.Redirect}}" />
  </form>
</table>

<script>

    var generateBtn = document.querySelector('#generateBtn');
    generateBtn.addEventListener('click', function() {
      confirmFes(function() {
        var seqRows = document.querySelectorAll('tr.seqRow');
        var ids = "";

        for (var i=0; i< seqRows.length; i++) {

          var seqElm = seqRows[i];
          var id = seqElm.getAttribute("data-id");
          var enableForm = document.querySelector('#' + CSS.escape(id));
          var flag = enableForm.checked;

          if ( flag ) {
            if ( ids != "" ) {
              ids += ",";
            }
            ids += id;
          }
        }

        var idsForm = document.querySelector('#ids');
        idsForm.value = ids;
        var url = document.querySelector('#redirect');

        var publishForm = document.querySelector('#publishForm');
        publishForm.submit();
      });
    });

</script>

{{ end }}
