<html>
  <head>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <style type="text/css">
    .system {
       font-size:18px;
       color:#33dd33;
    }
    body {
      background-color:#999999;
    }
    div.box{
      width:225px;
      height:120px;
      border:1px solid #f1f1f1;
      background-color:#444444;
      border-radius:2px;
      display: table-cell;
      color: white;
      padding: 1em;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%) 
    }
    </style>
    <title>Festival Edit System Authentication</title>
  </head>

  <body>

    <div class="box">
      <h2 class="system">> Festival Edit System</h2>
      <div id="g_id_onload"
           data-client_id="{{ env "CLIENT_ID" }}"
           data-auto_prompt="false"
           data-ux_mode="redirect"
           data-login_uri="/session">
      </div>

      <div class="g_id_signin"
           data-type="standard"
           data-size="large"
           data-theme="outline"
           data-text="sign_in_with"
           data-shape="rectangular"
           data-logo_alignment="left">
      </div>
    </div>

  </body>
</html>

