<html>
  <head>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <style type="text/css">
    </style>
  </head>

  <body>

    <div id="g_id_onload"
         data-client_id="{{ env "CLIENT_ID" }}"
         data-auto_prompt="false"
         data-ux_mode="redirect"
         data-login_uri="/session">
    </div>

    <div class="g_id_signin"
         data-type="standard"
         data-size="middle"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
    </div>

<!--
    <div id="signout_button" class="g_id_signout">Sign Out</div>
    <script>
    const button = document.getElementById("signout_button");
    button.onclick = () => {
      google.accounts.id.disableAutoSelect();
    }
    </script>
 -->

  </body>
</html>

