{{define "title"}}File Resize{{end}}
{{define "header"}} File Resize {{end}}

{{define "page_template"}}

<canvas id="imageData" width="0" height="0"></canvas>

<form name="convertForm" method="post" action="/manage/file/resize/commit">
<input type="hidden" name="key" value="{{.File.Key.Name}}">

<input type="hidden" name="left" value="0">
<input type="hidden" name="top" value="0">
<input type="hidden" name="width" value="0">
<input type="hidden" name="height" value="0">

<input type="text" name="per" value="100">
<select name="function">
<option>Bicubic</option>
<option>Bilinear</option>
<option>Lanczos2</option>
<option>Lanczos3</option>
<option>MitchellNetravali</option>
<option>NearestNeighbor</option>
</select>

<input type="text" name="quality" value="100">
Size:{{ convertSize .File.Size }}

<button id="confirmBtn" type="button">Confirm</button>
<button id="commitBtn" type="submit">Commit</button>
</form>

<canvas id="convertData" width="0" height="0"></canvas>

<script type="text/javascript">

    var canvas = document.getElementById('imageData');
    var rect = canvas.getBoundingClientRect();

    var elmX = rect.left;
    var elmY = rect.top;

    var context = canvas.getContext('2d');

    var imageObj = new Image();
    imageObj.onload = function() {
        canvas.width = imageObj.width;
        canvas.height = imageObj.height;
        draw();
    };
    imageObj.src = '/file/{{ .File.Key.Name}}';

    canvas.addEventListener("mousedown", onMouseDown, false);
    canvas.addEventListener("mouseup" , onMouseUp , false);

    // 矩形オブジェクト
    var rectangle = undefined;
    var _rectangle = createRect();

    function createRect() {
        return { startY:0, startX:0, endY:0, endX:0 };
    };

    function onMouseDown (e) {
        _rectangle.startX = e.clientX - elmX;
        _rectangle.startY = e.clientY - elmY;
        canvas.addEventListener ("mousemove", onMouseMove, false);
    };

    function onMouseMove (e) {

        draw();

        _rectangle.endY = e.layerY - _rectangle.startY;
        _rectangle.endX = e.layerX - _rectangle.startX;
        context.lineWidth = 2;

        context.strokeStyle = "rgb(255, 0, 0)";
        context.strokeRect (_rectangle.startX, _rectangle.startY, _rectangle.endX, _rectangle.endY);
    };

    function onMouseUp (e) {
        rectangle = _rectangle;

        draw();
        _rectangle = createRect();
        canvas.removeEventListener ("mousemove", onMouseMove, false);

        var form = document.forms.convertForm;
        form.left.value = rectangle.startX;
        form.top.value  = rectangle.startY;
        form.width.value = (rectangle.endX + rectangle.startX);
        form.height.value =  (rectangle.endY + rectangle.startY);
    };

    function draw() {
        context.drawImage(imageObj, 0, 0);
        context.lineWidth = 2;
        context.strokeStyle = "rgb(255, 0, 0)";
        if ( rectangle !== undefined ) {
            context.strokeRect(rectangle.startX, rectangle.startY, rectangle.endX, rectangle.endY);
        }
    };

    var confirm = document.getElementById('confirmBtn');
    confirm.addEventListener("click",function(e) {
        var conv = document.getElementById('convertData');
        var rect = conv.getBoundingClientRect();
        var context = conv.getContext('2d');

        var imageObj = new Image();
        imageObj.onload = function() {
            conv.width = imageObj.width;
            conv.height = imageObj.height;
            context.drawImage(imageObj, 0, 0);

            //ボタンを表示

        };

        var form = document.forms.convertForm;
        var query = "";
        query += "?per=" + form.per.value;
        query += "&quality=" + form.quality.value;
        query += "&function=" + form.function.value;

        if ( rectangle !== undefined ) {
            query += "&left=" + rectangle.startX;
            query += "&top=" + rectangle.startY;
            query += "&width=" + (rectangle.endX + rectangle.startX);
            query += "&height=" + (rectangle.endY + rectangle.startY);
        }

        imageObj.src = '/manage/file/resize/view/{{ .File.Key.Name}}' + query;

    },false);

</script>

{{ end }}
