{{ define "title" }}Edit Variable{{ end }}
{{ define "header" }} Edit Variable {{end}}

{{define "page_template"}}

<form method="post" action="/manage/variable/edit" name="updateForm">
{{ if .Variable.Key  }}
<input type="hidden" name="check" value="false">
{{ else }}
<input type="hidden" name="check" value="true">
{{ end }}

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" width="100%">
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div class="mdl-textfield mdl-js-textfield">
{{ if .Variable.Key  }}
          {{ .Variable.Key.Name }}
          <input type="hidden" name="keyValue" value="{{ .Variable.Key.Name }}">
{{ else }}
          <input class="mdl-textfield__input" type="text" id="variableName" name="keyValue" value="">
          <label class="mdl-textfield__label" for="variableName">Variable Name...</label>
{{end}}
        </div>
      </td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <button type="button" id="variableTxt" class="mdl-button mdl-js-button mdl-button--raised">
          <span class="material-icons">mode_edit</span>
        </button>
        <button type="button" id="base64Upload" class="mdl-button mdl-js-button mdl-button--raised">
          <span class="material-icons">image</span>
        </button>
        <br>
        <div class="mdl-textfield mdl-js-textfield" style="width:100%;">
          <textarea class="mdl-textfield__input" type="text" id="variableData" name="variableData" rows="10" style="width:100%;">{{ plane .VariableData.Content }}</textarea>
          <label class="mdl-textfield__label" for="pageContent">Variable Data...</label>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" id="updateBtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
          <span class="material-icons">save</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

  <input type="hidden" name="version" value="{{ .Variable.Version }}">


</form>

<script>

    var txtDialogBtn = document.querySelector('#variableTxt');
    txtDialogBtn.addEventListener('click', function() {
      editTextArea(document.querySelector('#variableData'));
    });

    var updateBtn = document.querySelector('#updateBtn');
    updateBtn.addEventListener('click', function() {

{{ if .Variable.Key  }}
{{ else }}
      var nameTag = document.querySelector('#variableName');
      if ( nameTag.value == "" ) {
        alertFes("Edit Name!");
        return;
      }
{{ end }}
      confirmFes("Save Variable?",function() {
        var form = document.forms.updateForm;
        form.submit();
      });
    });

    const chooseFile = () =>
      new Promise(resolve => {
        const input = document.createElement('input')
        input.setAttribute('type', 'file')
        input.style.display = 'none'
        document.body.appendChild(input)

        input.addEventListener('change', () => {
          const f = input.files[0]
          document.body.removeChild(input)
          resolve(f)
        })
        input.click()
    });

    var base64Upload = document.querySelector('#base64Upload');
    base64Upload.addEventListener('click', function() {
      chooseFile().then( f => {
        const body = new FormData()
        body.append('targetFile', f);
        const xhr = new XMLHttpRequest()
        xhr.open('post', '/manage/variable/upload')
        xhr.onload = () => {
          document.querySelector('#variableData').value = xhr.responseText;
        }
        xhr.send(body);
      });
    });

</script>
{{ end }}
