{{define "site_template"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FES[{{ template "title" }}]</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="/manage/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css">
    <link rel="stylesheet" type="text/css" href="/manage/css/styles.css">

    <style>
    </style>

  </head>

  <body>

    <dialog id="textArea" class="mdl-dialog" style="width:100%;height:100%;">
      <textarea id="editTxt"></textarea>
      <div id="textBtnArea" class="mdl-dialog__actions">
        <button type="button" class="mdl-button agree">Agree</button>
        <button type="button" class="mdl-button close">Disagree</button>
      </div>
    </dialog>

    <div class="fes-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <header class="fes-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"></span>
          <div class="mdl-layout-spacer">
{{template "header" .}}
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          </div>
        </div>
      </header>

      <div class="fes-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">

        <header class="fes-drawer-header">
          <div class="fes-avatar-dropdown">
            <span>Festival Edit System <a href="https://github.com/secondarykey/fes/wiki"><span class="material-icons" style="vertical-align:bottom;">help_outline</span></a></span>
          </div>
        </header>

        <nav class="fes-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="/manage/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" href="/manage/page/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">web</i>Page</a>
          <a class="mdl-navigation__link" href="/manage/draft/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">playlist_add_check</i>Draft</a>
          <a class="mdl-navigation__link" href="/manage/file/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">attach_file</i>File</a>
          <a class="mdl-navigation__link" href="/manage/template/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">description</i>Template</a>
          <a class="mdl-navigation__link" href="/manage/variable/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">text_fields</i>Variable</a>

          <a class="mdl-navigation__link" href="/manage/page/children/Trash"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Trash</a>

        <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href="/manage/site/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i>Setting</a>
        </nav>
      </div>

      <main class="mdl-layout__content mdl-color--grey-100">

{{template "page_template" .}}

      </main>

    </div>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/manage/js/fes.js"></script>

  </body>
</html>
{{ end }}
