{{define "title"}}
Setting
{{end}}

{{define "page_template"}}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" width="100%">
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="siteName" value="{{ .Site.Name }}">
          <label class="mdl-textfield__label" for="siteName">Name...</label>
        </div>
      </td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="siteDescription" value="{{ .Site.Description }}">
          <label class="mdl-textfield__label" for="siteDescription">Description...</label>
        </div>
        <input type="hidden" id="siteRoot" value="{{ .Site.Root }}">
      </td>
    </tr>

    <tr>
      <td>
        <button id="updateBtn" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Update
        </button>
      </td>
    </tr>
  </tbody>
</table>

<script>

    var showDialogButton = document.querySelector('#updateBtn');
    showDialogButton.addEventListener('click', function() {

      var nameTag = document.querySelector('#siteName');
      if ( nameTag.value == "" ) {
        alertFes("Edit Name!");
        return;
      }

      confirmFes(function() {

        xmlhttp.open("POST", "/manage/site/edit", true);
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlhttp.setRequestHeader("Cache-Control", "no-cache");

        var descTag = document.querySelector('#siteDescription');
        var rootTag = document.querySelector('#siteRoot');

        var data = {
            name : nameTag.value,
            description : descTag.value,
            rootPage : rootTag.value
        };

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 ) {
                if ( xmlhttp.status != 200) {
                  //error
                } else {
                  //success
                }
            }
        }
        xmlhttp.send(EncodeHTMLForm(data));
      });
    });


</script>
{{ end }}